span.pre{
    font-family: monospace;
}

.http-example div[class^="highlight"]{
    margin-left: -6px;
}

.sig.http > .sig-name.descname {
   vertical-align: top;
}

.sig.http > .sig-name.descname:first-child {
    padding: .25rem .4rem;
    border-radius: 0.25rem;
    margin-right: 1rem;
}

dt.http {
    padding-top: 2rem;
}

/* Floating examples */

.http > dd > * {
    float: left;
    width: 48%;
}

dl.http {
    clear: both;
}

section {
    clear: both;
}

.http-example.docutils.container {
    float: right;
    margin-top: -2.3rem;
}

/* Specific methods */

.get > .sig.http > .sig-name.descname:first-child {
    color: #0c5460;
}

.post > .sig.http > .sig-name.descname:first-child {
    color: #856404;
}

.put > .sig.http > .sig-name.descname:first-child {
    color: #f9e5c8;
}

.patch > .sig.http > .sig-name.descname:first-child {
    color: #fff3cd;
}

.delete > .sig.http > .sig-name.descname:first-child {
    color: #721c24;
}